{% block icon_recaptcha_widget %}
    {% apply spaceless %}
        {% include '@TBaronnatIconRecaptcha/theme/js_and_css.html.twig' %}
        {% include '@TBaronnatIconRecaptcha/theme/config.html.twig' %}
        {% include '@TBaronnatIconRecaptcha/theme/init.html.twig' %}

        {% if form.vars.token %}
{#         Additional security token to prevent CSRF. Optional but highly recommended - disable via IconReCaptchaType options. #}
            <input type="hidden" name="_iconcaptcha-token" value="{{ iconReCaptchaToken(app.request) }}"/>
        {% endif %}
{#        The IconReCaptcha will be rendered in this element - REQUIRED  #}
        <div class="iconcaptcha-holder" data-theme="{{ form.vars.theme }}"></div>
    {% endapply %}
{% endblock %}
