<!-- Initialize IconReCaptcha -->
<script type="text/javascript">
    {% set transDomain = options.getTranslationDomain() %}
    let IconRecaptchaConfig = {
        general: {
            validationPath: '{{ path('recaptcha_validation') }}', // required
            fontFamily: 'Poppins',
            credits: 'hide',
        },
        security: {
            clickDelay: 500,
            hoverDetection: true,
            enableInitialMessage: true,
            initializeDelay: 500,
            selectionResetDelay: 3000,
            loadingAnimationDelay: 1000,
            invalidateTime: 1000 * 60 * 2, // 2 minutes, in milliseconds
        },
        messages: {
            initialization: {
                verify: "{{ 'icon_recaptcha.verify.human'|trans({}, transDomain) }}",
                loading: "{{ 'icon_recaptcha.loading.challenge'|trans({}, transDomain) }}"
            },
            header: "{{ 'icon_recaptcha.header'|trans({}, transDomain)|raw }}",
            correct: "{{ 'icon_recaptcha.verification.complete'|trans({}, transDomain) }}",
            incorrect: {
                title: "{{ 'icon_recaptcha.verification.error.title'|trans({}, transDomain) }}",
                subtitle: "{{ 'icon_recaptcha.verification.error.wrong_icon'|trans({}, transDomain) }}"
            },
            timeout: {
                title: "{{ 'icon_recaptcha.verification.timeout.title'|trans({'%time%': options.getAttemptsTimeout()}, transDomain) }}",
                subtitle: "{{ 'icon_recaptcha.verification.timeout.subtitle'|trans({}, transDomain) }}",
            }
        }
    };

</script>