{#

    Copy assets/js/icon-captcha.min.js and assets/css/icon-captcha.min.css to your asset directory
    Create directory in %kernel.project_dir%/templates/bundles/TBaronnatIconRecaptchaBundle/theme/
    and create file js_and_css.html.twig with included assets

    Ideally, defer css and js, like this
    <script src="{{ asset('/build/vendor/icon-recaptcha/icon-captcha.min.js') }}" async defer></script>
    <link rel="preload"
          href="{{ asset('/build/vendor/icon-recaptcha/icon-captcha.min.css')}}"
          as="style"
          onload="this.onload=null;this.rel='stylesheet';"
    >

#}